body {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: #5a5a5a;
}

section {
    padding: 20px 0px;
}

.container {
    width: 86%;
    margin: 0 auto;
}

/**
    MAIN NAV
*/
.nav-wrapper {
    border-bottom: 1px solid #a9a9a926;

    .container {
        display: flex;
    }

    .logo {
        width: 250px;
        
        h2 {
            text-transform: uppercase;
            font-size: 19px;
            color: darkgray;
        }
    }

    .main-nav {
        display: flex;
        align-items: center;
        width: 100%;
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
    
            li {
                padding: 10px;
    
                a {
                    text-decoration: none;
                    font-size: 12px;
                    text-transform: uppercase;    
                }
            }
        }
    }
}

/**
    WITH SIDEBAR
*/

.with-sidebar {
    .container {
        display: flex;
    }

    .left-content {
        width: 62%;
        margin-right: 5%;
        padding-right: 3% !important;
        padding: 75px 0;
        border-right: 1px solid #a9a9a940;
        padding-right: 30px;
    }
    
    .sidebar {
        width: 30%;
        padding: 75px 0;
    }
}




